.list-item {
	font-size: 0.3rem;
	padding-right: 1.5rem;
	position: relative;
	background: #fff;
	margin-bottom: 0.2rem;

	.item-img-container {
		img {
			width: 3rem;
		}
	}
	.item-content {
		font-size: 0.4rem;
		p {
			padding-left: 0.2rem;
			display:-webkit-box !important;
			overflow:hidden;
			text-overflow:ellipsis;
			word-break:break-all;
			-webkit-box-orient:vertical;
			-webkit-line-clamp:2;
		}
	}
	.pingjia {
		color: #fff;
		font-size: 0.2rem;
		position: absolute;
		top: 1rem;
		right: 0.2rem;
		padding: 0.15rem 0.4rem;
    	background: red;

    	&.finish {
    		background: #ccc;
    	}
	}
}
.userInfo {
	background: #fff;
	font-size: 0.4rem;
	margin-bottom: 0.2rem;
	padding: 0.3rem;
	p {
		text-align: left;
	}
}
.contentBox {
	width: 100%;
	margin: 0.2rem 0;
}
.operationBtn {
	button {
		padding: 0.15rem 0.3rem;
	    background: #017501;
	    color: #fff;
	    border: none;
	}
	.ok {
		margin: 0 0.3rem 0 0.2rem;
	}
	.cancel {
		flex: 1;
	}
}
