.myHeader {
	color: #fff;
	.icon {
		font-size: 0.32rem;
		line-height: 0.98rem;
		padding-left: 0.3rem;
	}
	.title {
		text-align: center;
		padding: .2rem;
		font-size: 0.32rem;
		line-height: 0.5rem;
		background-color: rgb(233, 32, 61);
	}
}