.detailInfo {
	padding: 0.3rem;
	font-size: 0.35rem;
	background: #fff;
	
	.detailInfo_top {
		padding-bottom: 0.3rem;
		border-bottom: 1px solid #ccc;
		img {
			width: 2.5rem;
		}
		.titleBox {
			max-width: 63%;
	    	padding-left: 0.3rem;
	    	

	    	.title {
				font-size: 0.4rem;
				font-weight: 400;
			}
			.evaluate {
				color: #a4a4a4;
				line-height: 0.7rem;
			}
			.subTitle {
				color: #a4a4a4;
				white-space: nowrap;
			    text-overflow: ellipsis;
			    overflow: hidden;
			    line-height: 0.6rem;
			}
		}
	}
	.detailInfo_bottom {
		color: #a4a4a4;
		padding-top: 0.2rem;
		line-height: 0.7rem;
	}
	
}